<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.springboot.example.UserMapper.UserDao">

	<!-- insert user -->
	<insert id = "insert" parameterType="com.springboot.example.model.User">
		INSERT INTO user(ID,username,age,addrss) VALUES(#{id},#{username},#{age},#{addrss});
	</insert>
	<!-- update user -->
	<update id="update" parameterType="com.springboot.example.model.User">
		UPDATE user SET   age = #{age}, username=#{username} , addrss=#{addrss}  WHERE ID=#{id}
	</update>
	<!-- find user -->
	<select id="find" parameterType="int" resultType="com.springboot.example.model.User">
		SELECT ID,USERNAME,age,addrss FROM user WHERE ID=#{id}
	</select>
	<!-- findall user -->
	<select id="findall"  resultType="com.springboot.example.model.User">
		SELECT ID,USERNAME,age,addrss FROM user
	</select>
	<!-- delete user -->
	<delete id="delete" parameterType="int">
		DELETE FROM user WHERE ID=#{id}
	</delete>
	<!-- find  usercity -->
	<select id="User_City"  resultType="com.springboot.example.dto.UserCity">
		SELECT user.id,user.USERNAME,user.age,user.addrss ,citycode.citycode,citycode.cityname,citycode.id
		FROM user,citycode  where user.id=citycode.id
	</select>
	<!-- update user -->
	<update id="updatepost"  parameterType="" >
		UPDATE user SET    username=#{username}   WHERE ID=#{id}
	</update>
</mapper>